@page
@model Guariba.Pages.Post.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.TextContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.TextContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
